<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">  
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">password</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:9999/attendance</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>  
       	<property name="hibernate.connection.zeroDateTimeBehavior">convertToNull</property>
        <mapping class="org.biometric.persist.model.Employee"></mapping>
        <mapping class="org.biometric.persist.model.EmployeeLogin"></mapping>
        <mapping class="org.biometric.persist.model.Attendance"></mapping>
        <mapping class="org.biometric.persist.model.BiometricTemplate"></mapping>
        <mapping class="org.biometric.persist.model.AccessLevel"></mapping>
        <mapping class="org.biometric.persist.model.HolidayMaster"></mapping>
        <mapping class="org.biometric.persist.model.Department"></mapping>
        <mapping class="org.biometric.persist.model.LeavesRemaining"></mapping>
        <mapping class="org.biometric.persist.model.LeaveSchedule"></mapping>
        <mapping class="org.biometric.persist.model.AttendanceEncrypted"></mapping>
   </session-factory>
</hibernate-configuration> 

